<header>
    <nav classs="nav-one">
        <ul>
            <li>
                <a href="#">Saved Articles</a>
            </li>
        </ul>
    </nav>
    <nav class="nav-two">
        <ul>
            <li>
                <a class="scape-articles header-button" href="#">Scrape New Articles</a>
            </li>
            <li>
                <a class="clear-articles header-button" href="#">Clear Articles</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="banner-container">
        <h1>Mongo Scrapper</h1>
        <h2>World Synergy Edition</h2>
    </div>
</div>

<section class="scrapped-container">
    <div class="scrapped-items">

    </div>
</section>